.btn-link{
    color: #999;
    text-align: left;
}

.btn-outline-success {
    text-align: left;
}

.btn-outline-danger {
    text-align: left;
}

.btn-link:hover{
    background-color: #999;
    color: #fff;
    text-decoration: none;
}

body {
    background-image: url("../images/curls.png");
    margin: 0px;
    color: #777;
}

.questionAndAnswers, #results-card {
    font-family: 'Armata', sans-serif;
}

.jumbotron, .card-body {
    background-image: url("../images/curlsLight.png");
}

.audios {
    display: none;
}

#messageArea {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.4em;
}
#messageArea, #results-score, #giphyArea, #restart-message {
    margin-top: 10px;
}

#results-card{
    width: 50%;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}